<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <h4> Product reviews </h4>
    <% @product.reviews.reverse.each do |review| %>
      <div class="row">
        <div class="col-sm-8">
          <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd><%= User.find(review.user_id).first_name %></dd>
            <dt>Description</dt>
            <% if review.description %>
              <dd><%= review.description %></dd>
            <% else %>
              <dd></dd>
            <% end %>
            <dt>Rating</dt>
            <dd><%= review.rating %></dd>
            <% if logged_in? && review.user_id == current_user.id %>
              <dd>
                <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
              </dd>
            <% end %>
            </dl>
        </div>
      </div>
    <% end %>
    <% if current_user %>
      <div class="col-sm-4">
        <%= form_for [@product, @product.reviews.build] do |form| %>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :rating %>
            <%= form.select :rating, (1..5), {}, class: 'form-control'%>
          </div>
          <%= form.submit 'Post Review', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>
  </article>
</section>
